html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #131313;
  color: #fff;
}

.canvas {
  pointer-events: none;
  position: absolute !important;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
}

.static-elements-container {
  position: relative;
  width: 100%;
  height: 100%;
}

.arrows-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33px;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 100;
  user-select: none;
}

.arrows-container #prevBtn {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-6"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" /%3E%3C/svg%3E') no-repeat center;
  background-color: rgba(31, 31, 31, 1);
  border: none;
  margin: 0;
  padding: 30px;
  border-radius: 50%;
  margin: 0;
  z-index: 100;
  cursor: pointer;
}

.arrows-container #prevBtn:hover {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="size-6"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18" /%3E%3C/svg%3E') no-repeat center;
  background-color: rgba(255,255,255,0.5);
  
}

.arrows-container #nextBtn {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-6"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5l7.5 7.5m0 0l-7.5 7.5M21 12H3" /%3E%3C/svg%3E') no-repeat center;
  background-color: rgba(31, 31, 31, 1);
  border: none;
  margin: 0;
  padding: 30px;
  border-radius: 50%;
  margin: 0;
  z-index: 100;
  cursor: pointer;
}

.arrows-container #nextBtn:hover {
  background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="black" class="size-6"%3E%3Cpath stroke-linecap="round" stroke-linejoin="round" d="M13.5 4.5l7.5 7.5m0 0l-7.5 7.5M21 12H3" /%3E%3C/svg%3E') no-repeat center;
  background-color: rgba(255,255,255,0.5);
}

.backBtn-checkout-menu-wrapper {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  z-index: 5;
  user-select: none;
}

#backBtn {
  background-color: rgba(31, 31, 31);
  color: #fff;
  margin: 1em;
  padding: 20px;
  font-size: 2em;
  border: none;
  border-radius: 40px;
  cursor: pointer;
}

#backBtn:hover {
  color: #111;
  background-color: rgba(255, 255, 255, 0.4);
}

.size-and-color-menu-container {
  height: 40%;
  width: 12%;
  background: rgba(31, 31, 31, 0.5);
  padding: 20px;
  margin: 2em;
  border-radius: 40px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.size-selection-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.size-selection-container .size-label {
  font-size: 2em;
}

.size-selection-container .size-input {
  font-size: 2em;
  color: #fff;
  text-align: center;
  padding-left: 15px;
  width: 50%;
  border: solid #fff 1px !important;
  background: rgba(31,31,31, 0.5);
  cursor: pointer;
}

.color-selection-container {
  height: 25%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.color-selection-container .color-label {
  font-size: 2em;
}

.color-btn-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.size-input {
  background: rgba(51, 51, 51, .75);
  width: 50%;
  border: none;
}

.color-container {
  padding: 0;
  margin: 0;
  display:flex;
  justify-content: space-around;
  align-items: center;
}

.color-btn {
  border: solid #fff 1px;
  padding: 1rem;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, .30);
}

.blue-white {

  background: linear-gradient(180deg, rgb(25, 182, 234) 15%, #fff 100%)
}

.gold-white {
  background: linear-gradient(180deg, rgb(235, 209, 38) 0%, rgb(27, 25, 15) 80%)
}

.red-white {
  background: linear-gradient(180deg, rgb(234, 42, 25) 15%, rgb(27, 25, 15) 80%)
}

#bundleBtn {
  padding: 20px;
  background-image: linear-gradient(45deg, #8cd682 0%, #00FF00 100%);
  font-size: 1.5em;
  color: #fff;
  border-radius: 40px;
  border: none;
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .40);
}

#bundleBtn:hover {
  cursor: pointer;
  background-image: linear-gradient(45deg, #1ad216 30%, #00FF00 100%);
  box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, .60);
}